<!DOCTYPE html>
<html>
<head>
	<title>360 Image Viewer</title>

</head>
<body>
    <button onclick="toggleFullscreen()">blue</button>
		<img id="myimg" width=100% height=100% src="https://3dplease.github.io/View/img/pano2.jpg">
<script>
        function toggleFullscreen() {
            let elem = document.getElementById('myimg');
      
            if (!document.fullscreenElement) {
              elem.requestFullscreen().catch(err => {
                alert(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
              });
            } else {
              document.exitFullscreen();
            }
          }
        </script>
</body>
</html>